{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<form method="post" class="mx-auto" style="max-width: 500px;">{% csrf_token %}
    <div class="container-sm text-center mt-5">
        {%for field in form%}
        <div class="row g-3 align-items-center">
            <div class="col-auto text-right">
                <label for="inputPassword6" class="col-form-label mb-4">{{ field.label }}</label>
            </div>
            <div class="col-auto">
                {{ field }}
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                    {%for error in field.errors%}
                    <div class="alert alert-danger align-items-center">
                          {{error}}
                        
                    </div>
                    {%endfor%}
                </span>
            </div>
        </div>
        {%endfor%}
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <input type="submit" value="Cadastrar" class="btn btn-outline-primary">
            </div>
        </div>
    </div>
</form>


{% endblock %}